.logo {
  display: flex;
  align-items: center;

  padding: 10px;
}
.logo span {
  font-size: 35px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.logo span:hover {
  transition: all 0.3s ease-in-out;
  color: var(--main-color);
}
